# Default ignored files
.idea
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml


node_modules
.env

# Hardhat files
/cache
/artifacts

# TypeChain files
/typechain
/typechain-types

# solidity-coverage files
/coverage
/coverage.json

# Hardhat Ignition default folder for deployments against a local node
ignition/deployments/chain-31337

# Remix compiler artifacts
**/artifacts/
**/artifacts/**

# Remix plugin state folders
.deps/
states/

# Debug info
*.dbg.json
*.tsbuildinfo

# Optional
.env
.env.local